.gradient-text-container{
    background-color: rgb(245, 164, 195);
    padding : 20px;
    

}
 p{
    font-size: 20px;

    background-image: linear-gradient(hsl(165, 64%, 90%), rgb(53, 119, 163));
    -webkit-background-clip: text;
    background-clip: text;

    color : transparent;
    -weblit-text-fill-color: transparent;
    border: 10px dashed deeppink;
    text-align: left;
    padding: 10px 50px 70px 90px;
    margin: 50px 50px 50px 50px;

}
body{
    background-color: pink;
}