body{
    background: black;
}
.container{
    background-color: none;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:relative;
    overflow:hidden;
    flex-direction: row;
}
.box{
    background-color: none;
    height: 2000px;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:relative;
    overflow:hidden;
    flex-direction: column;
    animation: move 8s infinite ease-in-out;
}


.bunny{
    background: none;
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    animation: spin 3s infinite linear;
}
.middle{
    background: none;
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    animation: mover 4s infinite ease-in-out;
}
@keyframes move{
    0%{
    left:-200vh;

    }
    100%{
    left:200vh;
    }

}

@keyframes spin{
    0%{
        rotate: 0deg;
        scale:1;
    }
    50%{
        scale:.5;
    }
    100%{
        rotate: 720deg;
        scale: 1;
    }
}

@keyframes mover{
    0%{
        left:0;
        rotate: 0deg;
        scale:1;
    }
    50%{
        rotate: 360deg;
        scale:.5;
    }
    100%{
        left:100vh;
        rotate: 720deg;
        scale: 1;
    }
}